<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail index-article-avatar" src="{{ post.author.avatar }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.post_date).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
            <div>
                 <!-- 如果 post.body_html 字段存在,还要把 post.body 换成 post.body_html -->
                <h2><a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a></h2>
                {% if post.intro %}
                <p id="quote_l">
                    <big id="quote_r">
                    {{ post.intro }}
                    </big>
                </p>
                {% endif %}
                </p>
                {% if post.body_show %}
                <hr />
                    {% if post.body_html %}
                        <!--
                        渲染 HTML 格式内容时使用 | safe 后缀，其目的是告诉 Jinja2 不要转义 HTML 元素。出于安全考虑,默认情况下 Jinja2 会转义所有模板变量。Markdown 转换成的 HTML 在服务器上生成,因此可以放心渲染。
                        -->
                        {{ post.body_html | safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                {% endif %}
            </div>
            <!-- 固定链接添加到通用模板 _posts.html 中,显示在文章下方 -->
            <div class="post-footer">
                {% if current_user.is_administrator %}
                <a href="{{ url_for('.delete_article', id=post.id) }}">
                    <span class="label label-danger">删除文章</span>
                </a>
                {% endif %}
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">编辑</span>                
                </a>
                {% elif current_user.is_administrator %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">编辑 [管理员]</span>
                </a>
                {% endif %}
{#                 {% if post.tagname %}
                <a href="{{ url_for('.article_category_name', category_name=category.category_name) }}">
                    <span class="label label-warning">
                        <span class="glyphicon glyphicon-tags"></span>
                        {{ post.tagname }}
                    </span>
                </a>
                {% endif %} #}
                <a href="{{ url_for('.article_category_name', category_name=post.category_name) }}">
                    <span class="label label-danger">{{ post.category_name }}</span>
                </a>
                {% if not post.body_show %}
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">阅读全文</span>
                </a>
                {% endif %}
                <!-- 为了完善功能,我们还要在首页和资料页中加上指向评论页面的链接 -->
                <!--
                指向评论页的链接结构也值得一说。这个链接的地址是在文章的固定链接后面加上一个 #comments 后缀。这个后缀称为 URL 片段,用于指定加载页面后滚动条所在的初始位置。 Web 浏览器会寻找 id 等于 URL 片段的元素并滚动页面,让这个元素显示在窗口顶部。这 个初始位置被设为 post.html 模板中评论区的标题,即 <h4 id="comments">Comments<h4>。
                -->
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }}条评论</span>
                </a>
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">{{ post.view_times or 0 }}次阅读</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}    
</ul>