{% extends "base.html" %}

{% block title %}欢迎来到{{ show_title() }}{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
        html, body {
            background-image: url("{{ url_for('blog.static', filename='img/index_bgimg.jpg') }}");
            background-size: cover;
            color: #555;
            position: relative;
            z-index: -2;
            width: 100%;
            height: 100%;
        }
        .navbar-default {
            background-color: rgba(255, 255, 255, 0.6);
            border-color: transparent;
        }
        .dropdown-menu {
            background-color: rgba(255, 255, 255, 0.6);
        }
    </style>
{% endblock %}

{% block page_content %}
<div id="index-intro">
    <div class="index-text">
        <p id="myname">lniwn</p>
        <p>Software Engineer</p>
        <p>Love C++ Python</p>
    </div><br>
    <div class="index-link">
        <a href="{{ url_for('blog.article') }}">+ 博客</a>
        <a href="{{ url_for('blog.resume') }}">+ 个人简历</a>
        <a href="{{ url_for('blog.lab') }}">+ 实验室</a>
        <a href="{{ url_for('blog.contact') }}">+ 关于</a>
    </div>
</div>
{% endblock %}