{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ show_title() }} - 登陆{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>登陆</h1>
    </div>
    <div class="col-md-4">
        <!-- 这个模板只需使用 Flask-Bootstrap 提供的 wtf.quick_form() 宏渲染表单即可 -->
        {{ wtf.quick_form(form) }}
        <br />
        <p>
            > 还没有用户名？
            <a href="{{ url_for('blog.register') }}">
                立即注册
            </a>
        </p>
        <p>
            > 忘记密码了？
            <a href="{{ url_for('blog.password_reset_request') }}">
                点此重设
            </a>
        </p>
    </div>
</div>
{% endblock %}
